<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d68fa3">  <td>18/11/04 13:46:59</td>   <td>0</td> <td title="&gt;&gt;Report.startResult()[pri:0, instance:testcases.LoginCreateLead@52a86356]">&gt;&gt;startResult</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@902919927</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>18/11/04 13:46:59</td>   <td>303</td> <td title="&gt;&gt;ProjectMethods.beforeSuite()[pri:0, instance:testcases.LoginCreateLead@52a86356]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@902919927</td>   <td></td> </tr>
<tr bgcolor="9b7d71">  <td>18/11/04 13:46:59</td>   <td>312</td> <td>&nbsp;</td><td title="&gt;&gt;LoginCreateLead.SetData()[pri:0, instance:testcases.LoginCreateLead@52a86356]">&gt;&gt;SetData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@902919927</td>   <td></td> </tr>
<tr bgcolor="f5e5e3">  <td>18/11/04 13:46:59</td>   <td>313</td> <td>&nbsp;</td><td title="&gt;&gt;MergeLeads1.SetData()[pri:0, instance:testcases.MergeLeads1@78c03f1f]">&gt;&gt;SetData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@902919927</td>   <td></td> </tr>
<tr bgcolor="d68fa3">  <td>18/11/04 13:47:00</td>   <td>1313</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Report.beforeMethod()[pri:0, instance:testcases.LoginCreateLead@52a86356]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@902919927</td>   <td></td> </tr>
<tr bgcolor="9b7d71">  <td>18/11/04 13:47:00</td>   <td>1356</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginCreateLead.loginLogOut(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcases.LoginCreateLead@52a86356]">loginLogOut</td> 
  <td>main@902919927</td>   <td></td> </tr>
<tr bgcolor="f5e5e3">  <td>18/11/04 13:47:00</td>   <td>1525</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MergeLeads1.mergeLeads(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcases.MergeLeads1@78c03f1f]">mergeLeads</td> 
  <td>main@902919927</td>   <td></td> </tr>
</table>
