<h2>Methods that were not run</h2><table>
<tr><td>pages.POM.ProjectMethods.afterSuite</td></tr>
<tr><td>utils.Report.startResult</td></tr>
<tr><td>pages.POM.ProjectMethods.afterTest</td></tr>
<tr><td>pages.POM.ProjectMethods.beforeSuite</td></tr>
<tr><td>utils.Report.endResult</td></tr>
</table>